<div class="container">
  <div class="row">
    <div class="col-8 offset-2">

        <%= simple_form_for service do |f| %>
          <%= f.input :name, label: "What service do you offer?" %>
          <%= f.input :description, label: "How do you proceed with your power? (description)" %>
          <%= f.input :address, label: "Where do you perform this service? (full address)" %>
          <%= f.input :photos, label: "Show us a picture of your power in action!", as: :file, input_html: {multiple: true} %>
          <%= f.submit "Flower power!", class: "btn btn-primary" %>
        <% end %>

    </div>
  </div>
</div>
