<div class="container">
      <%= link_to "Back to power list", services_path, class: "btn btn-primary mt-3" %>
      <h1 class= "text-centered mt-3 mb-5"> 🦸‍♂️ Super service details 🦸‍♀️ </h1>
        <div class="container mt-3 card-show-power">
          <div class="row">
            <div class="col-4 card-show-power">
              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <%# @service.photos.each do |photo| %>
                  <div class="carousel-item active">
                    <% if @service.photos[0] %>
                      <%= cl_image_tag @service.photos[0].key, class: "d-block w-100" %>
                    <% end %>
                  </div>
                  <%# end %>
                  <div class="carousel-item">
                    <% if @service.photos[1] != nil %>
                      <%= cl_image_tag @service.photos[1].key, class: "d-block w-100" %>
                    <% else %>
                      <%= cl_image_tag @service.photos[0].key, class: "d-block w-100" %>
                    <% end %>
                  </div>
                  <div class="carousel-item">
                    <% if @service.photos[2] != nil %>
                      <%= cl_image_tag @service.photos[2].key, class: "d-block w-100" %>
                    <% else %>
                      <%= cl_image_tag @service.photos[0].key, class: "d-block w-100" %>
                    <% end %>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-8">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <div class="d-flex justify-content-between mt-2">
                      <h2 class= "title-big ml-4 mr-2"><%= @service.name %></h2>
                      <div class="mt-2">
                        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="avatar-bordered" />
                      </div>
                    </div>
                  </div>
                  <div class="col-10 offset-1">
                    <h3><i class="fas fa-bolt"></i> <i class="fas fa-mask"></i> What do I offer ?</h3>
                    <p><%= @service.description %></p>
                  </div>
                  <div class="col-12">
                    <div class="card-show-power-infos d-flex justify-content-between mt-4">
                        <!-- <div class="m-2 p-3">
                        </div> -->
                        <div class="m-2">
                          <h3><i class="fas fa-map-signs"></i> <i class="fas fa-map-marked-alt"></i> <i class="fas fa-globe-americas"></i> Where ? </h3>
                          <p>this service is available in</p>
                          <p><%= @service.address %></p>
                        </div>
                        <div class="m-2 mt-5">
                          <h3><i class="fas fa-money-check-alt"></i> Price: <%= @service.price %> € </h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% if policy(@service).edit? %>
  <%= link_to "Edit this service", edit_service_path, class: "btn btn-primary" %>
<% end %>
<br>
<% if policy(@service).destroy? %>
  <%= link_to "Delete #{@service.name}",
              service_path(@service),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
<% end %>
<div class="container">
  <h2 class= "text-centered title-big">Book this service </h2>
    <div class="row">
      <div class="col-8 offset-2">
        <% if current_user != @service.user %>
          <%= simple_form_for ([@service, @booking]) do |f| %>
          <div class="form-border p-3">
            <%= f.input :start_date, label: "Start date" %>
            <%= f.input :end_date, label: "End date" %>
            <%= f.submit "Flower power!", class: "btn btn-primary mt-2" %>
          </div>
        <% end %>
      <% end %>
    </div>

