<div class="container">
  <h1 class="pt-5 mb-5 text-center"><%= "Hello, #{current_user.username}. How are you?" %></h1>

  <div class="row justify-content-between">
    <div class="col-sm-12 col-lg-6">
      <div class="row">
        <div class="profile">
          <%= cl_image_tag current_user.avatar.key, class: "avatar-dashboard" %>
          <h2>YOUR INFOS:</h2>
          <p><%= "Email: #{current_user.email}" %></p>
          <p>Password: ******</p>
          <p><%= "Punchline: #{current_user.bio}" %></p>
        </div>
      </div>
    </div>

    <div class="bookings col-sm-12 col-lg-6">

      <% if @bookings_owner.present? %>
          <h2>Power reservation</h2>
        <div class="row">
          <% @bookings_owner.each do |booking| %>
            <div class="col-sm-6">
              <div class="card-power">
                <%= cl_image_tag booking.service.photos.first.key %>
                <div class="card-power-infos">
                  <%= booking.user.username  %>
                  <%= booking.service.name %>
                  <h2 class="card-power-date"><%= booking.start_date %></h2>
                </div>
              </div>
            </div>
          <% end %>
        </div>
          <h2>Meeting with my hero</h2>
        <div class="row">
          <% @bookings_client.each do |booking| %>
            <div class="col-sm-6">
              <div class="card-power">
                <%= cl_image_tag booking.service.photos.first.key %>
                <div class="card-power-infos">
                  <%= booking.user.username  %>
                  <%= booking.service.name %>
                  <h2 class="card-power-date"><%= booking.start_date %></h2>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <h2>Meeting with my hero</h2>
        <div class="row">
          <% @bookings_client.each do |booking| %>
            <div class="col-sm-6">
              <div class="card-power">
                <%= cl_image_tag booking.service.photos.first.key %>
                <div class="card-power-infos">
                  <%= booking.user.username  %>
                  <%= booking.service.name %>
                  <h2 class="card-power-date"><%= booking.start_date %></h2>
                </div>
              </div>
            </div>
          <% end %>
      <% end %>


    </div>
</div>


