<div class="container-fluid">

  <div class="row justify-content-between">
  
    <div class="col-sm-12 col-lg-4">
      <div class="row">
        <div class="profile">
          <%= cl_image_tag current_user.avatar.key, class: "avatar-dashboard" %>
          <h2>Welcome on your logbook.</h2>
          <p><%= "." * 75 %></p>
          <p class="align-left-dashboard"><%= "Email - #{current_user.email}" %></p>
          <p><%= "." * 75 %></p>
          <p class="align-left-dashboard">Password - ******</p>
          <p><%= "." * 75 %></p>
          <p><%= "." * 75 %></p>
          <p class="align-left-dashboard"><%= "Punchline - \"#{current_user.bio}\""%></p>
          <p><%= "." * 75 %></p>
          <p><%= "." * 75 %></p>
          <p><%= "." * 75 %></p>
          <p class="align-left-dashboard">To-Do</p>
          <p><%= "." * 75 %></p>
          <p><%= "." * 75 %></p>
          <p><%= "." * 75 %></p>
          <p><%= "." * 75 %></p>
          <p><%= "." * 75 %></p>
          <p><%= "." * 75 %></p>
          <p class="align-left-dashboard">Dad jokes</p>
          <p><%= "." * 75 %></p>
          <p><%= "." * 75 %></p>
          <p><%= "." * 75 %></p>
          <p><%= "." * 75 %></p>
          <p><%= "." * 75 %></p>
          <p><%= "." * 75 %></p>
          <p><%= "." * 75 %></p>
          <p><%= "." * 75 %></p>
        </div>
      </div>
    </div>

    <div class="bookings-dashboard col-sm-12 col-lg-8">
      <h1 class="header-dashboard"><%= "Hello, #{current_user.username}. How are you?" %></h1>

      <h2 class="header-h2-dashboard">THEY BOOKED WITH ME.</h2>
        <% if @bookings_owner.present? %>
          <div class="row">
            <% @bookings_owner.each do |booking| %>

              <div class="col-sm-4">
                <%= link_to service_path(@bookings_owner) do %>
                  <div class="card-power mb-5">
                    <%= cl_image_tag booking.service.photos.first.key %>
                    <div class="card-power-infos card-dashboard">
                      <div>
                        <h3><%= booking.service.name %></h3>
                        <p class="card-power-date"><%= booking.start_date %></p>
                      </div>
                      <%= cl_image_tag booking.user.avatar.key, class: "card-trip-user avatar-bordered" %>
                    </div>
                  </div>
                <% end %>
              </div>

            <% end %>
          </div>
        <% else %>
          <h3>No pending book for now...</h3>
        <% end %>

      <h2 class="header-h2-dashboard">I BOOKED WITH.</h2>
        <% if @bookings_owner.present? %>
          <div class="row">
            <% @bookings_client.each do |booking| %>

              <div class="col-sm-4">
                <%= link_to service_path(@bookings_owner) do %>
                  <div class="card-power mb-5">
                    <%= cl_image_tag booking.service.photos.first.key %>
                    <div class="card-power-infos card-dashboard">
                      <div>
                        <h3><%= booking.service.name %></h3>
                        <p class="card-power-date"><%= booking.start_date %></p>
                      </div>
                      <%= cl_image_tag booking.user.avatar.key, class: "card-trip-user avatar-bordered" %>
                    </div>
                  </div>
                <% end %>
              </div>

            <% end %>
        </div>
        <% else %>
          <h3>You have booked nothing yet...</h3>
        <% end %>

      <h2 class="header-h2-dashboard">THE SERVICES I'M CURRENTLY SELLING.</h2>

      <% if @bookings_owner.present? %>
          <div class="row">
            <% @bookings_client.each do |booking| %>


              <div class="col-sm-4">
                <%= link_to service_path(@bookings_owner) do %>
                  <div class="card-power mb-5">
                    <%= cl_image_tag booking.service.photos.first.key %>
                    <div class="card-power-infos card-dashboard">
                      <div>
                        <h3><%= booking.service.name %></h3>
                        <p class="card-power-date"><%= booking.start_date %></p>
                      </div>
                      <%= cl_image_tag booking.user.avatar.key, class: "card-trip-user avatar-bordered" %>
                    </div>
                  </div>
                <% end %>
              </div>

            <% end %>
        </div>
      <% else %>
          <h3>You have booked nothing yet...</h3>
      <% end %>
    </div>
</div>
