<div id="home-page">
  <div class="banner" style="background-image: url('<%= image_path 'banner-home-page.jpg' %>')">
    <div class=container>
      <div class="row">
        <div class="col-8 offset-2">
          <h1>
            <span id="banner-typed-text"></span>
          </h1>
          <%= link_to "RECRUIT", services_path, class: "btn btn-outline-light mt-3" %>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Why should you hire a superhero?</h2>
        <div class="d-flex justify-content-around mt-5">
          <div class="m-5">
            <%= image_tag "todo.png", alt: "todo", width: 100, height: 100 %>
            <p class="mt-4">You'r always running out of time or you are just lazy? No worries: hire a superhero and let him make the job! You won'te be disappointed.</p>
          </div>
          <div class="m-5">
            <%= image_tag "batman.png", alt: "batman", width: 100, height: 100 %>
            <p class="mt-4"> You'll have the best heroes on the market. You can even check their reviews and their services to be sure you've chosen the one fitted for you!</p>
          </div>
          <div class="m-5">
            <%= image_tag "heroes.png", alt: "heroes", width: 100, height: 100 %>
            <p class="mt-4">Do you think you have special abilities? If yes, go and create your own services! Removal, laundry, escort... It's your choice!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
